node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
config.json
updatedata.sh
# macOS
.DS_Store
allure
src/data/
data
example/adash-rn-web-example
example/adash-data-collector-example
# @generated: @expo/electron-adapter@0.0.55
/.expo/*
# Expo Web
/web-build/*
# electron-webpack
/dist
# @end @expo/electron-adapter
